<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">Notifications</h3>
              <p class="card-category">Handcrafted by our friend
                  <a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the
                  <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a>
              </p>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                      <h4 class="card-title">Suivie d'eau</h4>
                      <div >
                          <span><iframe src="https://stem.ubidots.com/app/dashboards/public/widget/b2anAhZqM8Zl08OSPL1O1Ah-HzisnQvUmspuy51NumA" width="100%" height="300"></iframe></span>
                      </div>
                
                    
                   
                  </div>
                  <div class="col-md-6">
                      <h4 class="card-title">Suivie des conditions</h4>
                      <div >
               
                          <span><iframe src="https://stem.ubidots.com/app/dashboards/public/widget/27YKAsqHbJDHRHjIyLijUY1xh2ob7RhUmMPOvh5UQgk" width="100%" height="300"></iframe></span>

                      </div>
                   
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="places-buttons">
                  <div class="row">
                      <div class="col-md-6 ml-auto mr-auto text-center">
                          <h4 class="card-title">
Humidité et température                              <p class="category"><iframe src="https://stem.ubidots.com/app/dashboards/public/widget/Pu_FtVdiakedmskI-KFejJWd2XNomtqjo76G4CftYDE" width="100%" height="300"></iframe></p>
                          </h4>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                          <div class="row">
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','left','impossible')">Démarrer l'arrosage</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','center','arrêt')">Arrêt du systéme</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','right','automatique')">Mode automatiques</button>
                              </div>
                          </div>
                      </div>
                  </div>
              
              </div>
          </div>
      </div>
  </div>
</div>
